# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# venv
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# logs
*.log

# local data (你自己决定是否要忽略 db)
db/*.sqlite
db/*.db
*.sqlite
*.db

# misc
.cache/
